body{
    background-color: black;
    font-family: 'Lato', sans-serif;
}

hr{
    width: 400px;
    border-top:1px solid #f8f8f8;
    border-bottom: 1px solid rgb(0,0,0,0.2)
}


#home-header{
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#home-header h1 {
    color: #fff;
}
#main{
    /* text-align:center;
    padding-top: 25%;
     color: white; */
    text-shadow:0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);    
}

.slideshow{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding:0;
}
.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size:cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: yaya 50s linear infinite;
}
.slideshow li:nth-child(1){
    background-image: url(../pics/abu-simbel-1.jpg);
}
.slideshow li:nth-child(2){
    background-image: url(../pics/nouba-1.jpg);
    animation-delay: 10s;
}
.slideshow li:nth-child(3){
    background-image: url(../pics/abu-simbel-3506114.jpg);
    animation-delay: 20s;
}
.slideshow li:nth-child(4){
    background-image: url(../pics/nile-1.jpg);
    animation-delay: 30s;
}
.slideshow li:nth-child(5){
    background-image: url(../pics/nouba-2.jpg);
    animation-delay: 40s;
}

@keyframes yaya {
   0%{
       opacity: 0;
       animation-timing-function: ease-in ;
   }
   10%{
       opacity: 1;
       animation-timing-function: ease-out ;
   }
   20%{
       opacity: 1;   
   }
   30%{
       opacity: 0;  
   } 
}

.no-cssanimations .slideshow li {
    opacity: 1;
}
#signature{
    z-index: 1;
    position:fixed ;
    /* left: 0; */
    bottom: 0;
    font-family: 'Lato', sans-serif;
}